header {
  position: relative;
  font-family: "Orbitron", sans-serif;
  color: white;
  background-image: url("../assets/bg-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 580px;
  display: grid;
}

.bg {
  position: absolute;
  width: 100%;
  z-index: -999;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 40px;
}

.menu .logo {
  padding-top: 40px;
}

.menu .menu-list {
  display: flex;
  gap: 20px;
  font-size: 1.2rem; /*1rem = 16px por padrão*/
  backdrop-filter: blur(4px);
  width: fit-content;
  height: fit-content;
  padding: 20px 24px;
  border-radius: 0px 0px 8px 8px;
}

.menu .menu-list a {
  padding: 10px;
  /* background-color: black; */
}

.veja-mais {
  display: flex;
  font-size: 24px;
  padding: 1rem 2.4rem;
  background-color: #121212;
  max-width: fit-content;
  position: absolute;
  margin: 0 auto;
  bottom: -30px;
  justify-self: center;
  gap: 8px;
}

.veja-mais:hover img {
  animation: 1.5s seta infinite;
}

.menu-mobile {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 2px;
  height: 40px;
  width: 40px;
  margin: 40px 0;
  background-color: transparent;
  border: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.menu-mobile span {
  display: block;
  width: 80%;
  height: 4px;
  background-color: white;
}

@keyframes seta {
  0% {
    transform: translate3d(0, -4px, 0);
  }
  50% {
    transform: translate3d(0, 4px, 0);
  }
  100% {
    transform: translate3d(0, -4px, 0);
  }
}

@media (max-width: 1000px) {
  .menu .menu-list {
    display: none;
  }
  .menu-mobile {
    display: flex;
  }
}
